backend/.gradle
.kotlin
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
backend/.env

### IDEA ###
backend/.idea
*.iws
*.iml
*.ipr
out/
backend/.run/

### Mac OS ###
.DS_Store
