.link-blue {
    color: #007bff;
    text-decoration: none;
}

.link-blue:hover {
    text-decoration: underline;
}

.alert {
  margin-bottom: 10px;
  height: 50px;
  line-height: 50px;
  padding: 0px 15px;
}
